{% assign_local c = "c-social-icons" %}

<div class="{{ c }}" style="{% if style.icon_background_hover_color %}--hover-color: {{ style.icon_background_hover_color }};{% endif %} {% if style.icon_color %}--fill-color: {{ style.icon_color }};{% endif %} {% if style.icon_hover_color %}--fill-color-hover: {{ style.icon_hover_color }};{% endif %}">
    {% if env_bookshop_live and content.show_note %}
        {% bookshop "generic/notification" heading:"Social Icons" text:"This is where your social icons will appear in the live site, but will not show in live editing in CloudCannon <br> You can edit the icons and their details in /data/site <br> This note will only show in live editing" %}
    {% endif %}
    {% for item in social_media_links %}
          <a class="{{ c }}__icon" href="{{ item.link_url }}" target="_blank" rel="noopener noreferrer">
              {% bookshop "generic/custom-icon" icon_path:item.icon_path icon_size:'small' icon_type:'solid' rounded_border:true color:'transparent' %}
          </a>
    {% endfor %}
</div>