{% assign_local c = "c-email-input" %}
<div class="{{ c }}">
    <label class="{{ c }}__label" for="{{ id }}">{{ label }}{% if required %} *{% endif %}</label>
    <input class="{{ c }}__input"
        type="email" 
        id="{{ id }}" 
        name="_replyto" 
        placeholder="{{ placeholder }}"
        {% if required %}required{% endif %}
        onblur="validateInput(this)"
        oninput="validateInputTyping(this)"
        {% if helper_text %}aria-describedby="{{ id }}--helper"{% endif %}>

    {% if helper_text %}
        <div class="{{ c }}__helper">
            {% bookshop "generic/hero-icon" hero_icon_name:"information-circle" icon_type:"outline" icon_size:'extra-small' rounded_border:false color:'var(--primary-foreground-color, #F9F9FB)' %}
            <p class="{{ c }}__helper__text" id="{{ id }}--helper" role="tooltip">{{ helper_text }}<p>
        </div>
    {% endif %}

    <div class="{{ c }}__error error">
        {% bookshop "generic/hero-icon" hero_icon_name:"x-circle" icon_type:"outline" icon_size:'extra-small' rounded_border:false color:'var(--error-color, #BF2323)' %}
        <p class="{{ c }}__error__text error__text" id="{{ id }}--error">Error Message<p>
    </div>
</div>